ktor:
  deployment:
    port: 8080
  application:
    modules:
      - com.monarca.HttpKt.configureHttp
      - com.monarca.SerializationKt.configureSerialization
      - com.monarca.SecurityKt.configureSecurity
      - com.monarca.StatusPagesKt.configureStatusPages
      - com.monarca.PostgresKt.configurePostgres
      - com.monarca.ExposedKt.configureExposed
      - com.monarca.KoinKt.configureKoin
      - com.monarca.ResourcesKt.configureResources
      - com.monarca.localidade.http.LocalidadeRoutingKt.configureLocalidade
      - com.monarca.RoutingKt.configureRouting

database:
  url: "r2dbc:postgresql://localhost:5432/monarca_motos_db"
  user: postgres
  password: "CHANGE_ME"
